.card-detail .f-nav {
    height: 72px;
}

/* .card-detail>.container {
    margin-top: 32px;

} */




.card-image {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    /*水平垂直居中*/
    margin-bottom: 16px;
}

.image1 {
    background-image: url('../../public/slide1.jpg');
}

.image2 {
    background-image: url('../../public/slide2.jpg');
}

.image3 {
    background-image: url('../../public/slide3.jpg');
}

.side-section {
    position: fixed;
}