body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav样式 */


/* 轮播图样式 */

.carousel .slider-wrapper {
  width: 100%;
}



.carousel .carousel-cards {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  /*水平垂直居中*/

}


.carousel .carousel-image1 {
  background-image: url('../../public/slide1.jpg');
}

.carousel .carousel-image2 {
  background-image: url('../../public/slide2.jpg');
}

.carousel .carousel-image3 {
  background-image: url('../../public/slide3.jpg');
}

.carousel .carousel-image4 {
  background-image: url('../../public/slide4.jpg');
}

.fix-side {
  position: sticky;
  top: 0; /* 根据需要调整固定位置的距离 */
  right: 0;
  align-self: flex-start; /* 实现sticky效果 */
  display: flex;
  flex-direction: row;
  z-index: 1;
  justify-content: space-evenly;
  background-color: white;
}


.btn-container{
  flex: 1;
}

.fix-side .btn {
  text-decoration: none;
  /* border: solid 1px gray; */
  width: 100%;
  color: rgb(61, 59, 59);
  border-radius: 0;
  padding: 12px;
}

.fix-side .btn:hover, .main-page .fix-side .btn:active{
  color: bisque;
  background-color: rgb(61, 59, 59);
}

.fix-side .btn .icon {
  margin-right: 6px;
}

.main-page {
  display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
}

