/* ImageUploader.css */

.image-uploader-container {
    width: 80vw;
    min-height: 65vh;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .selected-images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .image-preview {
    position: relative;
    margin: 5px;
  }
  
  .image-preview img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .image-preview button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn-group{
    flex-direction: row;
    
  }
  .btn-group button{
    /* display: block; */
    margin: 10px 10px 10px 0;
    padding: 10px;
    background-color: #4f8663;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1c5843;
  }
  