body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 在屏幕宽度小于760px时，设置卡片高度为三分之一屏幕最长边的长度 */
@media (max-width: 760px) {
  .card.small-screen-card {
    height: calc(25vh - 20px);
    /* 20px 是卡片的上下内边距 */
  }
}